/lib/
/upbx
*.o
/config.ini
*.log
/doc/cli_doc.md
/doc/cli_doc.man
/upbx.1
/doc/license.man
/data/*
/.cache/
*.sock
/compile_commands.json
/test_group
/test_md5
/test_pattern
/test_resp
/test_sdp_parse
