[upbx]
address = :5060
daemonize = 0
secret = <32-char-hex-for-nonce-signing>

[api]
address = :6379

[rtpproxy]
address = unix:///var/run/udphole.sock

[group:2]
allow_outgoing_cross_group = true
allow_incoming_cross_group = true

[group:3]
allow_outgoing_cross_group = false
allow_incoming_cross_group = true

[group:08540]
allow_outgoing_cross_group = false
allow_incoming_cross_group = false

[ext:200]
name = Front desk
secret = my-secret

[ext:201]
secret = my-secret

[ext:2XX]
secret = pattern-secret

[trunk:mycarrier]
address = udp://sip.example.com:5060
username = myuser
password = mypass
did = 15559876543
cid = 15559876543
group = 08540
